@include tablet {
  .contenedor-anuncios {
    @include grid(3, 2rem);
  }
}

.anuncio {
  background-color: lighten($gris, 5);
  border: 1px solid darken($gris, 10);
  margin-bottom: 4rem;

  .contenido-anuncio {
    padding: 4rem;
  }

  h3,
  p {
    margin: 0;
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}

.precio {
  color: $verde;
  font-weight: bold;
  font-size: 2.4rem;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    flex: 1;
    display: flex;
    justify-content: space-around;

    img {
      flex: 0 0 3rem;
    }
    p {
      font-weight: $black;
    }
    
  }
}
